/*
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	FARM 
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

	.land {
		background: var(--grassgreen);
	}

	.land2 {
		background-image: url('../images/farm/land2.png');
	}

	.land3 {
		background-image: url('../images/farm/land3.png');
	}

	.path {
		background-image: url('../images/farm/path.png');
	}

	.tilled {
		background-image: url('../images/farm/tilled.png');
	}

	.coop1 {
		background-image: url('../images/farm/coop1.png');
	}

	.coop2 {
		background-image: url('../images/farm/coop2.png');
	}

	.coop3 {
		background-image: url('../images/farm/coop3.png');
	}

	.coop4 {
		background-image: url('../images/farm/coop4.png');
	}

	.coop5 {
		background-image: url('../images/farm/coop5.png');
	}

	.crunchster {
		background-image: url('../images/farm/crunchster.png');
	}

	.swooshler {
		background-image: url('../images/farm/swooshler.png');
	}

	.sprinkler_basic {
		background-image: url('../images/farm/sprinkler_basic.png');
	}

	.sprinkler_good {
		background-image: url('../images/farm/sprinkler_good.png');
	}

	.sprinkler_medium {
		background-image: url('../images/farm/sprinkler_medium.png');
	}

	.rock {
		background-image: url('../images/farm/rock.png');
	}

	.wood {
		background-image: url('../images/farm/wood.png');
	}

	.weed {
		background-image: url('../images/farm/weed.png');
	}

	.spaceheater {
		background-image: url('../images/farm/spaceheater.png');
	}

	.sprinklehot {
		background-image: url('../images/farm/sprinklehot.png');
	}

	.sprinklehot_xl {
		background-image: url('../images/farm/sprinklehot_xl.png');
	}

	/* crops without bg */

	.ooblet_seed1_nbg {
		background-image: url('../images/farm/ooblet_seed1_nbg.png');
	}

	.ooblet_seed2_nbg {
		background-image: url('../images/farm/ooblet_seed2_nbg.png');
	}

	.ooblet_seed3_nbg {
		background-image: url('../images/farm/ooblet_seed3_nbg.png');
	}

	.caroot_nbg {
		background-image: url('../images/farm/caroot_nbg.png');
	}

	.clothplant_nbg {
		background-image: url('../images/farm/clothplant_nbg.png');
	}

	.dregplant_nbg {
		background-image: url('../images/farm/dregplant_nbg.png');
	}

	.fartichoke_nbg {
		background-image: url('../images/farm/fartichoke_nbg.png');
	}

	.flooti_nbg {
		background-image: url('../images/farm/flooti_nbg.png');
	}

	.freep_nbg {
		background-image: url('../images/farm/freep_nbg.png');
	}

	.hyperglob_nbg {
		background-image: url('../images/farm/hyperglob_nbg.png');
	}

	.lopauliflower_nbg {
		background-image: url('../images/farm/lopauliflower_nbg.png');
	}

	.muz_nbg {
		background-image: url('../images/farm/muz_nbg.png');
	}

	.pompadoot_nbg {
		background-image: url('../images/farm/pompadoot_nbg.png');
	}

	.sparkflower_nbg {
		background-image: url('../images/farm/sparkflower_nbg.png');
	}

	.springbean_nbg {
		background-image: url('../images/farm/springbean_nbg.png');
	}

	.sweetiebeetie_nbg {
		background-image: url('../images/farm/sweetiebeetie_nbg.png');
	}

	.zinooka_nbg {
		background-image: url('../images/farm/zinooka_nbg.png');
	}

	.cellulettuce_nbg {
		background-image: url('../images/farm/cellulettuce_nbg.png');
	}

	.thimbi_nbg {
		background-image: url('../images/farm/thimbi_nbg.png');
	}

	/* crops with bg */

	.ooblet_seed1_wbg {
		background-image: url('../images/farm/ooblet_seed1_wbg.png');
	}

	.ooblet_seed2_wbg {
		background-image: url('../images/farm/ooblet_seed2_wbg.png');
	}

	.ooblet_seed3_wbg {
		background-image: url('../images/farm/ooblet_seed3_wbg.png');
	}

	.caroot_wbg {
		background-image: url('../images/farm/caroot_wbg.png');
	}

	.clothplant_wbg {
		background-image: url('../images/farm/clothplant_wbg.png');
	}

	.dregplant_wbg {
		background-image: url('../images/farm/dregplant_wbg.png');
	}

	.fartichoke_wbg {
		background-image: url('../images/farm/fartichoke_wbg.png');
	}

	.flooti_wbg {
		background-image: url('../images/farm/flooti_wbg.png');
	}

	.freep_wbg {
		background-image: url('../images/farm/freep_wbg.png');
	}

	.hyperglob_wbg {
		background-image: url('../images/farm/hyperglob_wbg.png');
	}

	.lopauliflower_wbg {
		background-image: url('../images/farm/lopauliflower_wbg.png');
	}

	.muz_wbg {
		background-image: url('../images/farm/muz_wbg.png');
	}

	.pompadoot_wbg {
		background-image: url('../images/farm/pompadoot_wbg.png');
	}

	.sparkflower_wbg {
		background-image: url('../images/farm/sparkflower_wbg.png');
	}

	.springbean_wbg {
		background-image: url('../images/farm/springbean_wbg.png');
	}

	.sweetiebeetie_wbg {
		background-image: url('../images/farm/sweetiebeetie_wbg.png');
	}

	.zinooka_wbg {
		background-image: url('../images/farm/zinooka_wbg.png');
	}

	.cellulettuce_wbg {
		background-image: url('../images/farm/cellulettuce_wbg.png');
	}

	.thimbi_wbg {
		background-image: url('../images/farm/thimbi_wbg.png');
	}

	/* Common Ooblets */

	.c_bittle {
		background-image: url('../images/farm/c_bittle.png');
	}

	.c_bristlebud {
		background-image: url('../images/farm/c_bristlebud.png');
	}

	.c_chickadingding {
		background-image: url('../images/farm/c_chickadingding.png');
	}

	.c_clickyclaws {
		background-image: url('../images/farm/c_clickyclaws.png');
	}

	.c_clomper {
		background-image: url('../images/farm/c_clomper.png');
	}

	.c_derble {
		background-image: url('../images/farm/c_derble.png');
	}

	.c_dooziedug {
		background-image: url('../images/farm/c_dooziedug.png');
	}

	.c_dumbirb {
		background-image: url('../images/farm/c_dumbirb.png');
	}

	.c_firmo {
		background-image: url('../images/farm/c_firmo.png');
	}

	.c_fleeble {
		background-image: url('../images/farm/c_fleeble.png');
	}

	.c_fripp {
		background-image: url('../images/farm/c_fripp.png');
	}

	.c_glanter {
		background-image: url('../images/farm/c_glanter.png');
	}

	.c_gloopylonglegs {
		background-image: url('../images/farm/c_gloopylonglegs.png');
	}

	.c_grebun {
		background-image: url('../images/farm/c_grebun.png');
	}

	.c_gubwee {
		background-image: url('../images/farm/c_gubwee.png');
	}

	.c_gullysplots {
		background-image: url('../images/farm/c_gullysplots.png');
	}

	.c_gumple {
		background-image: url('../images/farm/c_gumple.png');
	}

	.c_hermble {
		background-image: url('../images/farm/c_hermble.png');
	}

	.c_isopud {
		background-image: url('../images/farm/c_isopud.png');
	}

	.c_jama {
		background-image: url('../images/farm/c_jama.png');
	}

	.c_kingwa {
		background-image: url('../images/farm/c_kingwa.png');
	}

	.c_legsy {
		background-image: url('../images/farm/c_legsy.png');
	}

	.c_lickzer {
		background-image: url('../images/farm/c_lickzer.png');
	}

	.c_lumpstump {
		background-image: url('../images/farm/c_lumpstump.png');
	}

	.c_marshling {
		background-image: url('../images/farm/c_marshling.png');
	}

	.c_moogy {
		background-image: url('../images/farm/c_moogy.png');
	}

	.c_namnam {
		background-image: url('../images/farm/c_namnam.png');
	}

	.c_nuppo {
		background-image: url('../images/farm/c_nuppo.png');
	}

	.c_oogum {
		background-image: url('../images/farm/c_oogum.png');
	}

	.c_pantsabear {
		background-image: url('../images/farm/c_pantsabear.png');
	}

	.c_petula {
		background-image: url('../images/farm/c_petula.png');
	}

	.c_plob {
		background-image: url('../images/farm/c_plob.png');
	}

	.c_radlad {
		background-image: url('../images/farm/c_radlad.png');
	}

	.c_shrumbo {
		background-image: url('../images/farm/c_shrumbo.png');
	}

	.c_sidekey {
		background-image: url('../images/farm/c_sidekey.png');
	}

	.c_skuffalo {
		background-image: url('../images/farm/c_skuffalo.png');
	}

	.c_snurfler {
		background-image: url('../images/farm/c_snurfler.png');
	}

	.c_spuddle {
		background-image: url('../images/farm/c_spuddle.png');
	}

	.c_tamlin {
		background-image: url('../images/farm/c_tamlin.png');
	}

	.c_tud {
		background-image: url('../images/farm/c_tud.png');
	}

	.c_unnyhunny {
		background-image: url('../images/farm/c_unnyhunny.png');
	}

	.c_whirlitzer {
		background-image: url('../images/farm/c_whirlitzer.png');
	}

	.c_wigglewip {
		background-image: url('../images/farm/c_wigglewip.png');
	}

	.c_wuddlin {
		background-image: url('../images/farm/c_wuddlin.png');
	}

	/* Uncommon Ooblets */

	.u_bittle {
		background-image: url('../images/farm/u_bittle.png');
	}

	.u_bristlebud {
		background-image: url('../images/farm/u_bristlebud.png');
	}

	.u_chickadingding {
		background-image: url('../images/farm/u_chickadingding.png');
	}

	.u_clickyclaws {
		background-image: url('../images/farm/u_clickyclaws.png');
	}

	.u_clomper {
		background-image: url('../images/farm/u_clomper.png');
	}

	.u_derble {
		background-image: url('../images/farm/u_derble.png');
	}

	.u_dooziedug {
		background-image: url('../images/farm/u_dooziedug.png');
	}

	.u_dumbirb {
		background-image: url('../images/farm/u_dumbirb.png');
	}

	.u_firmo {
		background-image: url('../images/farm/u_firmo.png');
	}

	.u_fleeble {
		background-image: url('../images/farm/u_fleeble.png');
	}

	.u_fripp {
		background-image: url('../images/farm/u_fripp.png');
	}

	.u_glanter {
		background-image: url('../images/farm/u_glanter.png');
	}

	.u_gloopylonglegs {
		background-image: url('../images/farm/u_gloopylonglegs.png');
	}

	.u_grebun {
		background-image: url('../images/farm/u_grebun.png');
	}

	.u_gubwee {
		background-image: url('../images/farm/u_gubwee.png');
	}

	.u_gullysplots {
		background-image: url('../images/farm/u_gullysplots.png');
	}

	.u_gumple {
		background-image: url('../images/farm/u_gumple.png');
	}

	.u_hermble {
		background-image: url('../images/farm/u_hermble.png');
	}

	.u_isopud {
		background-image: url('../images/farm/u_isopud.png');
	}

	.u_jama {
		background-image: url('../images/farm/u_jama.png');
	}

	.u_kingwa {
		background-image: url('../images/farm/u_kingwa.png');
	}

	.u_legsy {
		background-image: url('../images/farm/u_legsy.png');
	}

	.u_lickzer {
		background-image: url('../images/farm/u_lickzer.png');
	}

	.u_lumpstump {
		background-image: url('../images/farm/u_lumpstump.png');
	}

	.u_marshling {
		background-image: url('../images/farm/u_marshling.png');
	}

	.u_moogy {
		background-image: url('../images/farm/u_moogy.png');
	}

	.u_namnam {
		background-image: url('../images/farm/u_namnam.png');
	}

	.u_nuppo {
		background-image: url('../images/farm/u_nuppo.png');
	}

	.u_oogum {
		background-image: url('../images/farm/u_oogum.png');
	}

	.u_pantsabear {
		background-image: url('../images/farm/u_pantsabear.png');
	}

	.u_petula {
		background-image: url('../images/farm/u_petula.png');
	}

	.u_plob {
		background-image: url('../images/farm/u_plob.png');
	}

	.u_radlad {
		background-image: url('../images/farm/u_radlad.png');
	}

	.u_shrumbo {
		background-image: url('../images/farm/u_shrumbo.png');
	}

	.u_sidekey {
		background-image: url('../images/farm/u_sidekey.png');
	}

	.u_skuffalo {
		background-image: url('../images/farm/u_skuffalo.png');
	}

	.u_snurfler {
		background-image: url('../images/farm/u_snurfler.png');
	}

	.u_spuddle {
		background-image: url('../images/farm/u_spuddle.png');
	}

	.u_tamlin {
		background-image: url('../images/farm/u_tamlin.png');
	}

	.u_tud {
		background-image: url('../images/farm/u_tud.png');
	}

	.u_unnyhunny {
		background-image: url('../images/farm/u_unnyhunny.png');
	}

	.u_whirlitzer {
		background-image: url('../images/farm/u_whirlitzer.png');
	}

	.u_wigglewip {
		background-image: url('../images/farm/u_wigglewip.png');
	}

	.u_wuddlin {
		background-image: url('../images/farm/u_wuddlin.png');
	}

	/* Gleamy Ooblets */

	.g_bittle {
		background-image: url('../images/farm/g_bittle.png');
	}

	.g_bristlebud {
		background-image: url('../images/farm/g_bristlebud.png');
	}

	.g_chickadingding {
		background-image: url('../images/farm/g_chickadingding.png');
	}

	.g_clickyclaws {
		background-image: url('../images/farm/g_clickyclaws.png');
	}

	.g_clomper {
		background-image: url('../images/farm/g_clomper.png');
	}

	.g_derble {
		background-image: url('../images/farm/g_derble.png');
	}

	.g_dooziedug {
		background-image: url('../images/farm/g_dooziedug.png');
	}

	.g_dumbirb {
		background-image: url('../images/farm/g_dumbirb.png');
	}

	.g_firmo {
		background-image: url('../images/farm/g_firmo.png');
	}

	.g_fleeble {
		background-image: url('../images/farm/g_fleeble.png');
	}

	.g_fripp {
		background-image: url('../images/farm/g_fripp.png');
	}

	.g_glanter {
		background-image: url('../images/farm/g_glanter.png');
	}

	.g_gloopylonglegs {
		background-image: url('../images/farm/g_gloopylonglegs.png');
	}

	.g_grebun {
		background-image: url('../images/farm/g_grebun.png');
	}

	.g_gubwee {
		background-image: url('../images/farm/g_gubwee.png');
	}

	.g_gullysplots {
		background-image: url('../images/farm/g_gullysplots.png');
	}

	.g_gumple {
		background-image: url('../images/farm/g_gumple.png');
	}

	.g_hermble {
		background-image: url('../images/farm/g_hermble.png');
	}

	.g_isopud {
		background-image: url('../images/farm/g_isopud.png');
	}

	.g_jama {
		background-image: url('../images/farm/g_jama.png');
	}

	.g_kingwa {
		background-image: url('../images/farm/g_kingwa.png');
	}

	.g_legsy {
		background-image: url('../images/farm/g_legsy.png');
	}

	.g_lickzer {
		background-image: url('../images/farm/g_lickzer.png');
	}

	.g_lumpstump {
		background-image: url('../images/farm/g_lumpstump.png');
	}

	.g_marshling {
		background-image: url('../images/farm/g_marshling.png');
	}

	.g_moogy {
		background-image: url('../images/farm/g_moogy.png');
	}

	.g_namnam {
		background-image: url('../images/farm/g_namnam.png');
	}

	.g_nuppo {
		background-image: url('../images/farm/g_nuppo.png');
	}

	.g_oogum {
		background-image: url('../images/farm/g_oogum.png');
	}

	.g_pantsabear {
		background-image: url('../images/farm/g_pantsabear.png');
	}

	.g_petula {
		background-image: url('../images/farm/g_petula.png');
	}

	.g_plob {
		background-image: url('../images/farm/g_plob.png');
	}

	.g_radlad {
		background-image: url('../images/farm/g_radlad.png');
	}

	.g_shrumbo {
		background-image: url('../images/farm/g_shrumbo.png');
	}

	.g_sidekey {
		background-image: url('../images/farm/g_sidekey.png');
	}

	.g_skuffalo {
		background-image: url('../images/farm/g_skuffalo.png');
	}

	.g_snurfler {
		background-image: url('../images/farm/g_snurfler.png');
	}

	.g_spuddle {
		background-image: url('../images/farm/g_spuddle.png');
	}

	.g_tamlin {
		background-image: url('../images/farm/g_tamlin.png');
	}

	.g_tud {
		background-image: url('../images/farm/g_tud.png');
	}

	.g_unnyhunny {
		background-image: url('../images/farm/g_unnyhunny.png');
	}

	.g_whirlitzer {
		background-image: url('../images/farm/g_whirlitzer.png');
	}

	.g_wigglewip {
		background-image: url('../images/farm/g_wigglewip.png');
	}

	.g_wuddlin {
		background-image: url('../images/farm/g_wuddlin.png');
	}

	/* New */

	.c_angkze {
		background-image: url('../images/farm/c_angkze.png');
	}

	.u_angkze {
		background-image: url('../images/farm/u_angkze.png');
	}

	.g_angkze {
		background-image: url('../images/farm/g_angkze.png');
	}

	.c_quabbo {
		background-image: url('../images/farm/c_quabbo.png');
	}

	.u_quabbo {
		background-image: url('../images/farm/u_quabbo.png');
	}

	.g_quabbo {
		background-image: url('../images/farm/g_quabbo.png');
	}

	.c_bibbin {
		background-image: url('../images/farm/c_bibbin.png');
	}

	.u_bibbin {
		background-image: url('../images/farm/u_bibbin.png');
	}

	.g_bibbin {
		background-image: url('../images/farm/g_bibbin.png');
	}