/*
:root {
	--blue: #64a9c6;
	--offwhite: #fefdfb;
	--offblack: #28231d;
	--green: #57A773;
	--yellow: #FEC601;
	--darkyellow: #BD9404;
	--independence: #5E5C6C;
	--wisteria: #c490d1;
	--red: #f95a5a;
	--lightgreen: #5ec472;
	--lightgray: #ececec;
}
*/

:root {
	--wisteria: #c490d1;
	--green: #90d1b3;
	--blue: #90bcd1;
	--red: #f95a5a;
	--lightgreen: #5ec472;
	/*--darkpurple: #5E5C6C;*/
	--offwhite: #fefdfb;
	--cardcolor: #ecebf2;
	--offblackfont: #586168;
	--offblackfont2: #393f44;
	--grassgreen: #57A773;
	--playpurple: #2c1f33;
	--playred: #f24a29;
	--playyellow: #ffc43b;
	--cyan: #63bbbb;
	--independence: #5E5C6C;
	--darkpurple: #8765a2;
	--sunsetpurple: #ae7898;
	--profitgreen: #63bb9e;
}

.og-bg-wisteria {
	background-color: var(--wisteria);
}

.og-bg-green {
	background-color: var(--green);
}

.og-bg-blue {
	background-color: var(--blue);
}

.og-bg-darkpurple {
	background-color: var(--darkpurple);
}

.og-bg-gray-200 {
	background-color: var(--bs-gray-200);
}

.og-bg-gray-300 {
	background-color: var(--bs-gray-300);
}

.og-bg-gray-400 {
	background-color: var(--bs-gray-400);
}

.og-bg-grassgreen {
	background-color: var(--grassgreen);
}

.og-bg-playpurple {
	background-color: var(--playpurple);
}

.og-bg-playyellow {
	background-color: var(--playyellow);
}

.og-bg-cyan {
	background-color: var(--cyan);
}

.og-bg-independence {
	background-color: var(--independence);
}

.og-bg-darkpurple {
	background-color: var(--darkpurple);
}

.og-bg-sunsetpurple {
	background-color: var(--sunsetpurple);
}

.og-bg-profitgreen {
	background-color: var(--profitgreen);
}

.og-ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.og-header {
	font-family: 'Fredoka One', sans-serif;
	font-size: 25px;
	width:  290px;
}

.og-header-wide {
	font-family: 'Fredoka One', sans-serif;
	font-size: 25px;
	width:  350px;
}

/*
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	GENERAL 
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

	body {
		margin: 0;
		background: url('../images/layout/wallpaper.png') var(--offwhite);
	}

	main {
		min-height: 900px;
	}

		main > div {
			margin-top: 120px !important;
			max-width: 1600px;
		}

		.main-right {
			overflow: auto;
		}

			.main-changelogGroup {
				display: -webkit-box;
				-webkit-line-clamp: 20;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}

				.changelog-date {
					color: rgba(0,0,0,0.25);
					font-size: 0.8em;
				}

	label {
		margin-left: 3px;
		user-select: none; /* standard syntax */
		-webkit-user-select: none; /* webkit (safari, chrome) browsers */
		-moz-user-select: none; /* mozilla browsers */
		-khtml-user-select: none; /* webkit (konqueror) browsers */
		-ms-user-select: none; /* IE10+ */
	}
		
/*
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	HEADER 
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

	.header {
		font-family: 'Open Sans', sans-serif;
		box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.05),inset 0 -1px 0 rgba(0,0,0,0.15);
	}

		.header .nav-item {
			cursor: pointer;
		}
		
		.header .nav-link:hover {
			background: var(--bs-gray-200);
		}

		.header .nav-link.active {
			background: var(--bs-gray-300);
		}

		.nav-item .dropdown-menu li.active, .nav-item .dropdown-item.active {
			background: var(--bs-gray-300);
		}

			.nav-item .dropdown-item {
				font-size: .875em;
				color: rgba(0,0,0,.55);
			}

				.nav-item .dropdown-item:active {
					background-color: var(--bs-gray-500);
				}

				.navbar-nav > div:last-of-type {
					margin-left: .5rem;
				}

/*
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	FOOTER 
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

	footer {
		font-family: 'Open Sans', sans-serif;
	}

/*
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	HOME 
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/


/*
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	ALMANAC 
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

	/* dropdown */

	.almanac-main .main-top .btn-group {
		top: 3px;
	}

	.dropdown-menu label {
		margin: 0 !important;
		padding: 7px 10px;
		width: 100%;
	}

		.dropdown-menu label:hover {
		 background: var(--bs-gray-200);
		}

		.dropdown-menu label input {
			margin-right: 7px;
		}

		.view-wishlist-cb {
			top: 1px;
		}

	/* almanac */

	.clickable-oob {
		cursor: pointer;
	}

	.almanac-main .main-right .container {
		border: 2px dashed var(--bs-gray-500);
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
	}

	.almanac-ooblets {
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		color: var(--offblackfont2);
	}

		.almanac-ooblet {
			max-width: 450px;
		}

		.almanac-variant, .almanac-cards, .almanac-food, .almanac-bio {
			margin: 0 auto;
			display: none;
		}

		.almanac-variant {
			color: var(--offblackfont);
		}

		.almanac-bio {
			min-height: 115px;
		}

		.almanac-costname {
			background: #928daa;
			height: 33px;
		}

			.almanac-costname::before {
				content: '';
				border-bottom: 31px solid transparent;
				z-index: 0;
				left: -32px;
				top: 0;
				border-left: 30px solid var(--cardcolor);
				position: relative;
				display: inline-block;
			}

			.almanac-cardcost {
				background: #c490d1;
				padding: 0 7px;
				border: 3px solid var(--cardcolor);
				z-index: 2;
				position: relative;
				left: -4px;
			}

			.almanac-cardname {
				margin-top: -31px;
				font-weight: bold;
			}

			.almanac-carddesc {
				background: #cbcad0;
				min-height: 45px;
			}

	/* wishlist */

	.sidebar-wishes:empty:not(:focus):before{
		content:attr(data-placeholder);
		font-style: italic;
		color: var(--bs-gray-700);
	}

		.sidebar-wishes .clickable-oob {
			width: 66px;
		}

		.almanac-fullwish {
			display: none;
		}

		#almanac-canvasModal .modal-content {
			overflow: hidden;
		}

		#almanac-canvasModal .modal-dialog {
			max-width: 1360px !important;
		}

/*
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	FARM PLANNER 
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

	/* top control */

	.fp-topcontrols {
		height: 50px;
		font-family: 'Open Sans', sans-serif;
		color: var(--bs-gray-600);
		font-size: 14px;
	}

		.fp-demos, .fp-buttons {
			padding: 0 16px;
			top: 2px;
			position: relative;
		}

			.fp-topcontrols span {
				font-weight: bold;
				margin-right: 10px;
			}

			.fp-demo, .fp-topbutton {
				padding: 4px 10px;
				border: 1px solid #ccc;
				margin-right: -6px;
				color: var(--bs-gray-600);
			}

			.fp-buttons input {
				width: 600px;
				margin: 0 -5px 0 10px;
				padding: 0.25rem 0.75rem;
				font-size: 14px;
				border-radius: .25rem 0 0 .25rem;
			}

			.fp-buttons label {
				margin-left: 15px;
			}

			.fp-error {
				display: none;
				margin-left: 10px;
				color: #e36666;
				letter-spacing: 0 !important;
			}

	/* farm general */

	.fp-farmwrap {
		padding: 10px;
		width: 1222px;
	}

	 	/* fences */

	 		.fp-fence-top {
				background: url('../images/farm/fence_horizontal.png');
				height: 35px;
				width: 525px;
				margin: 0 0 4px 26px;
			}

			.fp-fence-left {
				background: url('../images/farm/fence_vertical.png');
				width: 35px;
				height: 840px;
				display: inline-block;
			}

			.fp-fence-right {
				background: url('../images/farm/fence_vertical.png');
				display: inline-block;
				height: 840px;
				width: 35px;
			}

			.fp-fence-bot {
				background: url('../images/farm/fence_horizontal.png');
				margin: 0 0 4px 26px;
				height: 35px;
				width: 1155px;
			}

		/* farm tile */

		 	.fp-farm {
		 		height: 841px;
		 		width: 1122px;
		 		display: inline-block;
		 		user-select: none;
		 	}

		 		.fp-farm .tile {
		 			background-color: var(--grassgreen);
		 			outline: 1px solid rgba(0,0,0,0.05);
		 			height: 35px;
		 			width: 35px;
		 			float: left;
		 			user-select: none;
		 			cursor: pointer;
		 		}

		 		.fp-farm .tile:hover {
		 			filter: brightness(150%);
		 		}

 	/* farm control */

 	.fp-controlwrap {
		margin: 0 0 0 10px;
		background-color: #7AC895;
		padding: 21px;
		width: 350px;
		height: 945px;
	}

		/* selected */

		.fp-selected {
			height: 175px;
		}

			.fp-selected p {
				background: #4f846b;
				padding: 0.85rem;
			}

			.fp-selectedTile {
				image-rendering: pixelated;
				transform: scale(2);
				height: 45px;
				width: 45px;
				background-position: center center;
				background-repeat: no-repeat;
				padding: 5px;
				border: 1px dashed #4f846b;
			}

		/* accordion */

		.accordion-item {
			border-color: #3C6C4D;
			border-style: solid;
			border-width: 0 0 1px 0;
		}

			.fp-controlwrap .accordion-button {
				background-color: #4f846b !important;
			}


			.fp-controlwrap .accordion-button:not(.collapsed) {
				background-color: #4f846b !important;
			}

				.fp-controlwrap .accordion-button::after {
					background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%233C6C4D'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
				}

				.fp-controlwrap .accordion-button:not(.collapsed)::after {
					background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%233C6C4D'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
				}

		.controls-btn {
			height: 35px;
			width: 35px;
			display: inline-block;
			margin: 3px;
			cursor: pointer;
		}

	/* modal */

		#fp-canvasModal .modal-content {
			overflow: hidden;
		}

		#fp-canvasModal .modal-dialog {
			max-width: 1360px !important;
		}

/*
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	PLAY TEST
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

	.pt-main {
		min-height: 800px;
	}

		.pt-g {
			background: rgb(46,27,49);
			background: -moz-linear-gradient(135deg, rgba(46,27,49,1) 0%, rgba(81,55,80,1) 53%, rgba(64,60,110,1) 100%);
			background: -webkit-linear-gradient(135deg, rgba(46,27,49,1) 0%, rgba(81,55,80,1) 53%, rgba(64,60,110,1) 100%);
			background: linear-gradient(135deg, rgba(46,27,49,1) 0%, rgba(81,55,80,1) 53%, rgba(64,60,110,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2e1b31",endColorstr="#403c6e",GradientType=1);
			height: 805px;
			width: 1222px;
		}

			.pt-g-message {
				display: none;
			}

			.pt-g-points {
				width: 50px;
			}

				.pt-g-goal {
					background: #f24a29;
					border-bottom: 10px solid var(--playpurple);
					border-radius: 10px 10px 0 0;
				}

				.pt-g-bar {
					height: 693px;
					padding: 7px;
				}

					.pt-g-bar div {
						background: rgb(116,110,238);
						background: -moz-linear-gradient(180deg, rgba(116,110,238,1) 0%, rgba(203,0,250,1) 100%);
						background: -webkit-linear-gradient(180deg, rgba(116,110,238,1) 0%, rgba(203,0,250,1) 100%);
						background: linear-gradient(180deg, rgba(116,110,238,1) 0%, rgba(203,0,250,1) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#746eee",endColorstr="#cb00fa",GradientType=1);
						height: 0;
						width: 35px;
						border-radius: 10px;
					}

				.pt-g-current {
					border-radius: 0 0 10px 10px;
					padding: 1px 0 5px 0;
				}

			.pt-g-stats {
				left: 84px;
				height: 175px;
				width: 150px;
				bottom: 13px;
			}

				.pt-g-fluster, .pt-g-hype, .pt-g-beats {
					height: 58px;
					margin-bottom: 7px;
				}

				.pt-g-beats {
					top: -16px;
				}

					.pt-g-fluster div, .pt-g-hype div, .pt-g-beats div {
						border: 5px solid var(--playpurple);
						height: 57px;
						width: 57px;
						z-index: 2;
					}

						.pt-g-fluster div {
							background: url('../images/playtest/fluster.png');
						}

						.pt-g-hype div {
							background: url('../images/playtest/hype.png');
						}

						.pt-g-beats div {
							line-height: 45px;
							font-size: 34px;
							top: -28px;
							left: -32px;
							z-index: 2;
							background: #6a6cff;
						}

					.pt-g-fluster span, .pt-g-hype span {
						width: 75px;
						top: -52px;
						left: 44px;
						padding-bottom: 2px;
					}

					.pt-g-beats span {
						width: 75px;
						color: #6a6cff;
						top: 23px;
						padding-bottom: 2px;
					}

			.pt-g-log {
				right: 25px;
			}

			.pt-g-end {
				cursor: pointer;
				bottom: 25px;
				right: 25px;
			}

		.pt-t {
			background: rgb(46,27,49);
			background: -moz-linear-gradient(135deg, rgba(46,27,49,1) 0%, rgba(81,55,80,1) 53%, rgba(64,60,110,1) 100%);
			background: -webkit-linear-gradient(135deg, rgba(46,27,49,1) 0%, rgba(81,55,80,1) 53%, rgba(64,60,110,1) 100%);
			background: linear-gradient(135deg, rgba(46,27,49,1) 0%, rgba(81,55,80,1) 53%, rgba(64,60,110,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2e1b31",endColorstr="#403c6e",GradientType=1);
			margin: 0 0 0 10px;
			padding: 21px;
			width: 350px;
			height: 805px;
		}

			.pt-t p {
				color: #8a6050;
			}

			.pt-t-member {
				width: 132px;
				height: 200px;
				margin: 4px 11px;
			}

				.pt-t-member div {
					background-image: url('../images/ooblets/empty.png');
					background-position: center;
					background-repeat: no-repeat;
					background-color: rgba(0,0,0,0.3);
					height: 151px;
					width: 132px;
					margin-bottom: 10px;
				}

		/* Main Cards */
		.pt-g-cardgame {
			top: 150px;
			width: 85%;
		}

			.pt-g-card {
				height: 292px;
				width: 180px;
				border-radius: 10px;
				margin: 0 -7px;
				padding: 5px;
				cursor: pointer;
			}

				.pt-g-cardcost {
					padding: 8px 15px;
					background-color: #5750ff;
					z-index: 2;
				}

				.pt-g-card div {
					height: 160px;
					width: 160px;
					background-size: cover;
				}

					.pt-g-card div::before {
						content: '';
						border-bottom: 50px solid transparent;
						z-index: 1;
						position: absolute;
						left: 0;
						top: 0;
					}

				.pt-g-cardname {
					padding: 1px 7px;
					font-size: 14px;
				}

				.pt-g-carddesc {
					padding: 8px;
					border-radius: 0 0 5px 5px;
					font-size: 13px;
					height: 89px;
					width: 160px;
				}


		/* Signature Card Color */
		.cardEnabled {
			border: 5px solid #2f0746;
			background: #55086f;
		}

			.cardEnabled .pt-g-cardcost {
				border: 5px solid #55086f;
			}

			.cardEnabled div::before {
				border-left: 50px solid #55086f;
			}

			.cardEnabled .pt-g-cardname {
				background: #8d2ccf;
			}

			.cardEnabled .pt-g-carddesc {
				background: #2f0746;
				color: var(--offwhite);
			}

		/* Default Card Color */
		.baseCardEnabled {
			border: 5px solid #faf5e5;
			background: #ffdbb0;
		}

			.baseCardEnabled .pt-g-cardcost {
				border: 5px solid #ffdbb0;
			}

			.baseCardEnabled div::before {
				border-left: 50px solid #ffdbb0;
			}

			.baseCardEnabled .pt-g-cardname {
				background: #343330;
			}

			.baseCardEnabled .pt-g-carddesc {
				background: #faf5e5;
				color: var(--offblackfont);
			}

		/* Disabled Card Color */
		.cardDisabled {
			border: 5px solid #9b0d19;
			background: #ce1418;
		}

			.cardDisabled .pt-g-cardcost {
				border: 5px solid #ce1418;
			}

			.cardDisabled div::before {
				border-left: 50px solid #ce1418;
			}

			.cardDisabled .pt-g-cardname {
				background: #e32c23;
			}

			.cardDisabled .pt-g-carddesc {
				background: #9b0d19;
				color: var(--offwhite);
			}

		.pt-t-title {
			font-family: 'Fredoka One', sans-serif;
		}

		.pt-t-start {
			background: #9666d0;
			border-style: solid;
			font-family: 'Fredoka One', sans-serif;
			letter-spacing: 1px;
			font-size: 21px;
		}

/*
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	FISHING
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

	.fh-topcontrols span {
		font-weight: bold;
		margin: 5px 7px 0 0;
		color: var(--bs-gray-600);
		font-size: 14px;
		font-family: 'Open Sans', sans-serif;
	}

	.fh-calculate {
		border: 1px solid #ccc;
		background: #e9e9ed;
	}

		.fh-calculate:hover {
			background: #d0d0d7 !important;
		}

		.fh-catch {
			width: 112px;
			height: 129px;
			margin: 10px;
			font-size: 13px;
			vertical-align: top;
			padding: 5px;
		}

			.fh-catch-img {
				height: 55px;
				width: 55px;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				margin: 31px auto 6px auto;
			}

			.fh-catch-name {
				color:  var(--offblackfont);
				text-transform: capitalize;
			}

			.fh-catch-qty {
				position: absolute;
				right: 24px;
				bottom: 36px;
				background: #fdf9fc;
				color: #555c62;
				width: 20px;
				border-radius: 2px;
			}

			.fh-catch-rate {
				top: 6px;
				left: -6px;
				width: 48px;
			}

				.fh-catch-rate::after {
					content: '';
					border-top: 5px solid #458484;
					border-left: 6px solid transparent;
					height: 0;
					width: 0;
					position: absolute;
					clear: both;
					top: 19px;
					left: 0;
				}

	/* modal */

	#fh-modal .modal-dialog {
		max-width: 1135px;
	}

		.fh-calc-fished {
			margin: 2px;
			height: 100px;
			width: 132px;
			padding: 11px 0;
			vertical-align: top;
		}

			.fh-calc-img {
				height: 60px;
				width: 60px;
				margin: 0 auto 4px auto;
				object-fit: contain;
			}

			.fh-calc-baseqty {
				background: #fdf9fc;
				right: 29px;
				bottom: 28px;
				width: 25px;
				font-size: 13px;
			}

			.fh-calc-namecount {
				font-size: 13px;
			}

				.fh-calc-name {
					text-transform: capitalize;
				}

/*
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	FURNITURES
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

	.furniture-header div {
		font-family: 'Fredoka One', sans-serif;
		width: 290px;
		font-size: 25px;
	}


		.furniture-item {
			height: 212px;
			width: 148px;
			font-size: 14px;
			font-family: 'Open Sans', sans-serif;
		}

			.furniture-cost {
				left: -7px;
				top: 7px;
				width: 50px;
			}

				.furniture-cost::after {
					content: '';
					height: 0;
					width: 0;
					top: 21px;
					left: 0;
					clear: both;
					position: absolute;
					border-top: 6px solid #a378ae;
					border-left: 7px solid transparent;
				}

			.furniture-location {
				top: 7px;
				left: 43px;
				width: 105px;
				color: #94a0aa;
			}

			.furniture-img {
				height: 100px;
				width: 100px;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				margin-top: 40px;
				margin-bottom: 20px;
			}

			.furniture-name {
				color: var(--offblackfont);
				text-transform: capitalize;
			}

/*
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	TIPS
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

	.tp-main {
	    font-size: 14px;
	    font-family: 'Open Sans', sans-serif;
	}

		.tp-header div {
			font-family: 'Fredoka One', sans-serif;
			width: 290px;
			font-size: 25px;
			background: #d190a8;
		}

		.tp-wrapper h3 {
			font-size: 37px;
			text-transform: uppercase;
			letter-spacing: .1em;
			font-weight: 200;
			margin-bottom: 50px;
			text-align: center;
		}


			.tp-container div {
			    padding: 10px;
			    border-top: 1px dashed #ccc;
			}

				.tp-container div:last-child {
				    border-bottom: 1px dashed #ccc;
				}

				.tp-container span {
					font-weight: bold;
				}

				.tp-type-item {
					color: var(--wisteria);
				}

				.tp-type-control {
					color: var(--blue);
				}

				.tp-type-ooblet {
					color: var(--lightgreen);
				}

				.tp-type-others {
					color: var(--red);
				}

/*
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	UNLOCKABLES
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

	.upgrades-header div {
		background-color: #b08dd9;
	}

/*
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	CLOTHINGS
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

	.clothings-header div {
		font-family: 'Fredoka One', sans-serif;
		width: 290px;
		font-size: 25px;
	}


		.clothings-item {
			height: 403px;
			width: 232px;
			font-size: 14px;
			font-family: 'Open Sans', sans-serif;
		}

			.clothings-cost {
				left: -7px;
				top: 7px;
				width: 50px;
			}

				.clothings-cost::after {
					content: '';
					height: 0;
					width: 0;
					top: 21px;
					left: 0;
					clear: both;
					position: absolute;
					border-top: 6px solid #a378ae;
					border-left: 7px solid transparent;
				}

			.clothings-location {
				top: 7px;
				left: 43px;
				height: 20px;
				width: 189px;
				color: #94a0aa;
				text-transform: capitalize;
			}

			.clothings-img {
				height: 325px;
				width: 195px;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				margin-top: 25px;
				margin-bottom: 7px;
				border-radius: 5px;
			}

			.clothings-name {
				color: var(--offblackfont);
				text-transform: capitalize;
			}

	.oobacc-oobmobiles .clothings-img {
		height: 128px;
		width: 128px;
	}

	.oobacc-oobmobiles .clothings-item {
		height: 214px;
	}

/*
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	PROFIT
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

	.profit-profitBar {
		height: 20px;
		border-radius: 7px;
	}

	.profitToggleable {
		display: none;
	}

	#profitCompact, .profit-legends {
		position: relative;
		top: 2px;
	}

/*
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	GLIMMYGLOBES TRACKER
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
/* Progress */

.gg-tracker-progress1 {
	width: 300px;
	font-family: 'Cute Font', sans-serif;
	font-size: 20px;
	color: rgba(0, 0, 0, 0.65);
}

.gg-tracker-progress1 .progress1-title span {
	font-size: 16px;
	margin-top: 6px;
}

.gg-tracker-progress1 .progress1-header {
	font-size: 19px;
}

.gg-tracker-progress1 .progress1-header i {
	font-size: 12px;
}

.gg-bg-common {
	background: rgb(151,118,129);
	background: linear-gradient(90deg, rgba(151,118,129,1) 0%, rgba(96,70,87,1) 100%);
}

.gg-bg-uncommon {
	background: rgb(233,214,128);
	background: linear-gradient(90deg, rgba(233,214,128,1) 0%, rgba(225,155,74,1) 100%);
}

.gg-bg-gleamy {
	background: rgb(106, 163, 214);
	background: linear-gradient(90deg, rgba(76, 214, 137, 1) 0%, rgba(106, 163, 214, 1) 100%);
}



	/* Tracker */

.gg-tracker-main th {
	font-size: 13px;
}

.gg-tracker-main th, .gg-tracker-main td {
	padding-left: 5px;
	padding-right: 5px;
}

.gg-tracker-main td {
	background-repeat: no-repeat;
	background-position: center center;
}

	.gg-tracker-main td:not(.gg-tracker-img) {
		filter: grayscale(100%) brightness(170%);
	}

	.gg-tracker-main td:not(.gg-tracker-name, .gg-tracker-img) {
		cursor: pointer;
	}

	.gg-tracker-name {
		font-size: 13px;
	}

	.gg-tracker-owned {
		filter: none !important;
	}

	.gg-tracker-badgetown-b {
		background: url('../images/glimmyglobes-tracker/badgetown_basic.png');
	}

	.gg-tracker-bordered {
		border-right: 1px solid #ddd;
	}

/*
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
GLIMMYGLOBES
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/


.glimmyglobes-header div {
	font-family: 'Fredoka One', sans-serif;
	width: 290px;
	font-size: 25px;
}

.glimmyglobes-item {
	height: 340px;
	width: 268px;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

.glimmyglobes-ooblet {
	top: 7px;
	left: 0;
	width: 100%;
	color: #94a0aa;
}

.glimmyglobes-img {
	height: 233px;
	width: 233px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 40px;
	margin-bottom: 20px;
}

.glimmyglobes-name {
	color: var(--offblackfont);
	text-transform: capitalize;
}
