/*
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	MAP 
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

	.map {
		background: url('../images/map/map.png');
		height: 912px;
		width: 1512px;
		border: 20px solid #fff;
	}

		.map-controls {
			height: 50px;
			position: relative;
			z-index: 2;
		}

			.filter-map {
				cursor: pointer;
			}

		.map-icons {
			position: relative;
			z-index: 1;
		}

			.map-mf, .map-mw {
				background: var(--green);
				height: 29px;
				width: 29px;
				border-radius: 100px;
				border: 3px solid #fff;
				cursor: pointer;
				position: absolute;
			}

				.map-mf::after, .map-mw::after {
					content: '';
					height: 9px;
					width: 7px;
					background: #fff;
					position: relative;
					top: 24px;
					left: 8px;
					display: block;
					border-radius: 0 0 5px 5px;
				}

				.map-icons img {
					height: 35px;
					width: 35px;
					left: -6px;
					top: -14px;
				}

				/* tooltip */

					.tooltip-inner {
						background: #fff;
						width: 316px;
						max-width: 316px;
						color: var(--offblackfont);
						font-family: 'Open Sans', sans-serif;
						font-size: 14px;
						padding-top: 8px;
						opacity: 1 !important;
					}

					.tooltip.show {
						opacity: 1 !important;
					}

					.tooltip.bs-tooltip-top .tooltip-arrow::before {
						border-top-color: #fff;
					}

					.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
						border-bottom-color: #fff;
					}

					.tooltip.bs-tooltip-start .tooltip-arrow::before {
						border-left-color: #fff;
					}

					.tooltip.bs-tooltip-end .tooltip-arrow::before {
						border-right-color: #fff;
					}

					.map-tt-img {
						height: 200px;
						width: 300px;
					}

					.map-tt-title {
						float: left;
						margin: 0;
						text-transform: capitalize;
					}

					.map-tt-credit {
						text-align: right;
						margin: 0;
					}

					.tooltip-inner i {
						font-size: 12px;
						margin-right: 3px;
					}

				/* frenz */

					.clickyclaws-1 {
						top: 300px;
						left: 1244px;
					}

					.clickyclaws-2 {
						top: 462px;
						left: 391px;
					}

					.clickyclaws-3 {
						top: 362px;
						left: 241px;
					}

					.clomper-1 {
						top: 636px;
						left: 296px;
					}

					.clomper-2 {
						top: 288px;
						left: 376px;
					}

					.clomper-3 {
						top: 695px;
						left: 697px;
					}

					.derble-1 {
						top: 421px;
						left: 948px;
					}

					.derble-2 {
						top: 628px;
						left: 474px;
					}

					.derble-3 {
						top: 722px;
						left: 773px;
					}

					.dumbirb-1 {
						top: 664px;
						left: 435px;
					}

					.dumbirb-2 {
						top: 758px;
						left: 1037px;
					}

					.dumbirb-3 {
						top: 492px;
						left: 800px;
					}

					.fleeble-1 {
						top: 628px;
						left: 445px;
					}

					.fleeble-2 {
						top: 722px;
						left: 743px;
					}

					.fleeble-3 {
						top: 422px;
						left: 918px;
					}

					.gloopy-long-legs-1 {
						top: 650px;
						left: 697px;
					}

					.gloopy-long-legs-2 {
						top: 681px;
						left: 1149px;
					}

					.gloopy-long-legs-3 {
						top: 447px;
						left: 1094px;
					}

					.kingwa-1 {
						top: 200px;
						left: 373px;
					}

					.kingwa-2 {
						top: 659px;
						left: 492px;
					}

					.kingwa-3 {
						top: 511px;
						left: 701px;
					}

					.lumpstump-1 {
						top: 694px;
						left: 968px;
					}

					.lumpstump-2 {
						top: 505px;
						left: 1182px;
					}

					.lumpstump-3 {
						top: 455px;
						left: 497px;
					}

					.petula-1 {
						top: 500px;
						left: 241px;
					}

					.petula-2 {
						top: 294px;
						left: 978px;
					}

					.petula-3 {
						top: 646px;
						left: 664px;
					}

					.radlad-1 {
						top: 629px;
						left: 416px;
					}

					.radlad-2 {
						top: 240px;
						left: 872px;
					}

					.radlad-3 {
						top: 348px;
						left: 1300px;
					}

					.snurfler-1 {
						top: 665px;
						left: 404px;
					}

					.snurfler-2 {
						top: 758px;
						left: 1069px;
					}

					.snurfler-3 {
						top: 493px;
						left: 768px;
					}

					.unnyhunny-1 {
						top: 416px;
						left: 997px;
					}

					.unnyhunny-2 {
						top: 363px;
						left: 880px;
					}

					.unnyhunny-3 {
						top: 284px;
						left: 517px;
					}

					.wigglewip-1 {
						top: 453px;
						left: 528px;
					}

					.wigglewip-2 {
						top: 692px;
						left: 999px;
					}

					.wigglewip-3 {
						top: 504px;
						left: 1212px;
					}

				/* wildlands */

					.wildlands-1 {
						top: 686px;
						left: 572px;
					}

					.wildlands-2 {
						top: 526px;
						left: 576px;
					}

					.wildlands-3 {
						top: 300px;
						left: 1298px;
					}

					.wildlands-4 {
						top: 370px;
						left: 521px;
					}

					.wildlands-5 {
						top: 699px;
						left: 909px;
					}

					.wildlands-6 {
						top: 669px;
						left: 1259px;
					}

					.wildlands-7 {
						top: 559px;
						left: 373px;
					}

					.wildlands-8 {
						top: 520px;
						left: 608px;
					}

					.wildlands-9 {
						top: 516px;
						left: 640px;
					}

					.wildlands-10 {
						top: 563px;
						left: 854px;
					}

					.wildlands-11 {
						top: 320px;
						left: 662px;
					}

					.wildlands-12 {
						top: 742px;
						left: 465px;
					}

					.wildlands-13 {
						top: 255px;
						left: 1244px;
					}

					.wildlands-14 {
						top: 448px;
						left: 1132px;
					}

					.wildlands-15 {
						top: 444px;
						left: 1057px;
					}

					.wildlands-16 {
						top: 378px;
						left: 383px;
					}

					.wildlands-17 {
						top: 215px;
						left: 990px;
					}

					.wildlands-18 {
						top: 320px;
						left: 598px;
					}

					.wildlands-19 {
						top: 254px;
						left: 1073px;
					}