/*
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	MAP 
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

	.map {
		background: url('../images/map/map.jpg');
		height: 939px;
		width: 1700px;
		border: 20px solid #fff;
	}

		.map-controls {
			height: 50px;
			position: relative;
			z-index: 2;
		}

			.filter-map {
				cursor: pointer;
			}

		.map-icons {
			position: relative;
			z-index: 1;
		}

			.map-mf, .map-mw {
				background: var(--green);
				height: 29px;
				width: 29px;
				border-radius: 100px;
				border: 3px solid #fff;
				cursor: pointer;
				position: absolute;
			}

				.map-mf::after, .map-mw::after {
					content: '';
					height: 9px;
					width: 7px;
					background: #fff;
					position: relative;
					top: 24px;
					left: 8px;
					display: block;
					border-radius: 0 0 5px 5px;
				}

				.map-icons img {
					height: 35px;
					width: 35px;
					left: -6px;
					top: -14px;
				}

				/* tooltip */

					.tooltip-inner {
						background: #fff;
						width: 316px;
						max-width: 316px;
						color: var(--offblackfont);
						font-family: 'Open Sans', sans-serif;
						font-size: 14px;
						padding-top: 8px;
						opacity: 1 !important;
					}

					.tooltip.show {
						opacity: 1 !important;
					}

					.tooltip.bs-tooltip-top .tooltip-arrow::before {
						border-top-color: #fff;
					}

					.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
						border-bottom-color: #fff;
					}

					.tooltip.bs-tooltip-start .tooltip-arrow::before {
						border-left-color: #fff;
					}

					.tooltip.bs-tooltip-end .tooltip-arrow::before {
						border-right-color: #fff;
					}

					.map-tt-img {
						height: 200px;
						width: 300px;
					}

					.map-tt-title {
						float: left;
						margin: 0;
						text-transform: capitalize;
					}

					.map-tt-credit {
						text-align: right;
						margin: 0;
					}

					.tooltip-inner i {
						font-size: 12px;
						margin-right: 3px;
					}

				/* frenz */

					.clickyclaws-1 {
						top: 325px;
						left: 1440px;
					}

					.clickyclaws-2 {
						top: 452px;
						left: 431px;
					}

					.clickyclaws-3 {
						top: 342px;
						left: 271px;
					}

					.clomper-1 {
						top: 646px;
						left: 306px;
					}

					.clomper-2 {
						top: 258px;
						left: 416px;
					}

					.clomper-3 {
						top: 745px;
						left: 757px;
					}

					.derble-1 {
						top: 451px;
						left: 1078px;
					}

					.derble-2 {
						top: 661px;
						left: 514px;
					}

					.derble-3 {
						top: 782px;
						left: 852px;
					}

					.dumbirb-1 {
						top: 684px;
						left: 465px;
					}

					.dumbirb-2 {
						top: 848px;
						left: 1177px;
					}

					.dumbirb-3 {
						top: 512px;
						left: 900px;
					}

					.fleeble-1 {
						top: 658px;
						left: 485px;
					}

					.fleeble-2 {
						top: 782px;
						left: 820px;
					}

					.fleeble-3 {
						top: 451px;
						left: 1049px;
					}

					.gloopy-long-legs-1 {
						top: 700px;
						left: 757px;
					}

					.gloopy-long-legs-2 {
						top: 761px;
						left: 1289px;
					}

					.gloopy-long-legs-3 {
						top: 497px;
						left: 1254px;
					}

					.kingwa-1 {
						top: 140px;
						left: 413px;
					}

					.kingwa-2 {
						top: 689px;
						left: 532px;
					}

					.kingwa-3 {
						top: 541px;
						left: 771px;
					}

					.lumpstump-1 {
						top: 764px;
						left: 1078px;
					}

					.lumpstump-2 {
						top: 565px;
						left: 1352px;
					}

					.lumpstump-3 {
						top: 445px;
						left: 537px;
					}

					.petula-1 {
						top: 480px;
						left: 251px;
					}

					.petula-2 {
						top: 304px;
						left: 1128px;
					}

					.petula-3 {
						top: 696px;
						left: 724px;
					}

					.radlad-1 {
						top: 659px;
						left: 445px;
					}

					.radlad-2 {
						top: 220px;
						left: 1012px;
					}

					.radlad-3 {
						top: 388px;
						left: 1490px;
					}

					.snurfler-1 {
						top: 685px;
						left: 424px;
					}

					.snurfler-2 {
						top: 848px;
						left: 1209px;
					}

					.snurfler-3 {
						top: 513px;
						left: 868px;
					}

					.unnyhunny-1 {
						top: 446px;
						left: 1127px;
					}

					.unnyhunny-2 {
						top: 373px;
						left: 990px;
					}

					.unnyhunny-3 {
						top: 244px;
						left: 607px;
					}

					.wigglewip-1 {
						top: 445px;
						left: 568px;
					}

					.wigglewip-2 {
						top: 763px;
						left: 1109px;
					}

					.wigglewip-3 {
						top: 564px;
						left: 1385px;
					}

				/* wildlands */


					.wildlands-1 {
						top: 726px;
						left: 612px;
					}

					.wildlands-2 {
						top: 546px;
						left: 636px;
					}

					.wildlands-3 {
						top: 340px;
						left: 1478px;
					}

					.wildlands-4 {
						top: 350px;
						left: 581px;
					}

					.wildlands-5 {
						top: 779px;
						left: 1019px;
					}

					.wildlands-6 {
						top: 739px;
						left: 1429px;
					}

					.wildlands-7 {
						top: 559px;
						left: 403px;
					}

					.wildlands-8 {
						top: 544px;
						left: 678px;
					}

					.wildlands-9 {
						top: 543px;
						left: 717px;
					}

					.wildlands-10 {
						top: 613px;
						left: 954px;
					}

					.wildlands-11 {
						top: 310px;
						left: 752px;
					}

					.wildlands-12 {
						top: 782px;
						left: 495px;
					}

					.wildlands-13 {
						top: 275px;
						left: 1444px;
					}

					.wildlands-14 {
						top: 488px;
						left: 1302px;
					}

					.wildlands-15 {
						top: 474px;
						left: 1197px;
					}

					.wildlands-16 {
						top: 358px;
						left: 413px;
					}

					.wildlands-17 {
						top: 215px;
						left: 1140px;
					}

					.wildlands-18 {
						top: 320px;
						left: 678px;
					}

					.wildlands-19 {
						top: 274px;
						left: 1233px;
					}